%% -*- erlang -*-

{erl_opts, [debug_info]}.

{
  deps,
  [
    {
      erlzmq,
      {
        git,
        "https://github.com/zeromq/erlzmq2.git",
        {branch, "master"}
      }
    },
    {
      mochiweb,
      {
        git,
        "https://github.com/mochi/mochiweb.git",
        {branch, "master"}
      }
    },
    {
      uuid,
      {
        git,
        "https://github.com/travis/erlang-uuid.git",
        {branch, "master"}
      }
    },
    {
      sandbox,
      {
        git,
        "https://github.com/robertoaloi/erlang-sandbox.git",
        {branch, "master"}
      }
    }
  ]
}.

{
  relx,
  [
    {release, {r1, "0.0.1"}, [ierlang]},

    {dev_mode,              true },
    {include_erts,          false},
    {extended_start_script, true }
  ]
}.
