{deps, [
   {erlzmq, ".*", {git, "git://github.com/zeromq/erlzmq2.git", "master"}},
   {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "master"}},
   {uuid, ".*", {git, "git://github.com/travis/erlang-uuid.git", "master"}},
   {sandbox, ".*",
     {git, "git://github.com/robertoaloi/erlang-sandbox.git", "master"}}
  ]}.
